<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <div class="container">
      <header>
        <nav>
          <a href="{{ '/blog' | relative_url }}">Blog</a> |
          <a href="{{ '/projects' | relative_url }}">Projeler</a> |
          <a href="{{ '/about' | relative_url }}">Hakkımda</a> |
          <a href="{{ '/contact' | relative_url }}">İletişim</a>
        </nav>
      </header>

      <main>
        <div class="content-inner">
          {{ content }}
        </div>
      </main>

      <footer>
        <p>© 2025 Çağlar Kapcak</p>
      </footer>
    </div>
  </body>
</html>
